.movie-poster {
  height: 640px;
  width: 340px;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {

  width: 340px;
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.movie.rating {
  font-size: 20px;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem auto;

  gap: 0.8rem;
}
.movie-detail-container{
  max-width:650px;
  padding:16px
}